*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

/*----ocean meta---*/
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 150px;
    transition: 0.5s ease;
}

header .brand{
    color: #87d1f3;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
}

/*---navigation bar--*/
header .navigation{
    position: relative;
}

header .navigation .navigation-items{
    display: flex;
    align-items: right;
    gap: 2.5rem;
    margin-left: 200px;
}


header .navigation .navigation-items a{
   font-size: 1.1rem;
   transition: all 400ms ease;
   text-decoration: none;
   color: #94d6f5;
}

header .navigation .navigation-items a:hover{
  color: white;
}


/*--video--*/
.head{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: lightskyblue;
    
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(back\ newwwwwwwwwww.jpg);;
    background-position: center;
    background-size: cover;
    position: relative;}

.head:before{
    z-index: 777;
    content: '';
    position: absolute;
   
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


/*---heading---*/

.head .wrapper{
    z-index: 888;
    color:#fff;
    width: 70%;
    margin-top: 150px;  
}

.head .wrapper h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
    margin-left: 20%;
}

.head .wrapper h1 span{
    font-size: 1em;
    font-weight: 600;
}

.head .wrapper p{
    margin-bottom: 65px;
    margin-left: 20%;
}

.head video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---threat 1---*/

.Threats{
    width: 40%;
    margin: auto;
    text-align: center;
    float: left;
    padding-top: 2px;
    padding-left: 20px;
    margin-top: 120px;
}


.pic{
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(new\ image2.avif);;   
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: -50px;
}

.threat-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-top: -85px;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
}


.threat-col img{
    width: 100%;
    display: block;
    height: auto;
    transition: 0.5s ease;
    border-radius: 50%;
}


.para1 h1{
    color: white;
    margin-left: 30%;
    text-align: justify;
    margin-top: 3.5%;
    max-width: 900px;
    font-size: 50px;
    margin-right: 50px;
}

.para1 p{
    color:white;
    margin-left: 30%;
    text-align: justify;
    margin-top: 20px;
    max-width: 900px;
    margin-right: 50px;
}



.container{
    width: 50%;
    height: 100vh;
    color: black;
    font-size: 35px;
    line-height: 70px;
    padding-top: 100px;
    text-align: center;
    margin-top: -80px;
    margin-left: 25%;
}
iframe{
    width: 100%;
    margin-left: 10%;
}


.para2 p{
    color:white;
    margin-left: 150px;
    text-align: justify;
    margin-top: auto;
    max-width: 900px;
    margin-right: 50px;
}

.para2 ul {
    color:white;
    margin-left: 200px;
    text-align: justify;
    margin-top: 5px;
    max-width: 900px;
    margin-right: 50px;
}

/*---turtle hatchery---*/
.turtlehatchery{
    margin-top: 0;
    margin-left: 100px;   
}

.turtlehatchery h2{
    margin-top: 50px;
    margin-left: 370px;
    color: white;
    font-size: 2rem
}

.hatchery__container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-right: 190%;
    margin-left: 20px;
}

.hatchery__image img{
    border-radius: 20%;
    width: 350px;
}

.hatchery{
    background: #5087a1;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    border-radius: 20px;
    height: 450px;
}

.hatchery:hover{
    background: transparent;
    border-color: white;
}

.hatchery__info h4{
    margin-top: auto;
    font-size: 1rem;
    color: white;
}

.btn{
    text-align: justify ;
    background: #87d1f3;
    padding: 10px 10px;
    color: #fff;
    font-size: 0.6em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 30%;
}


/*---footer---*/

footer{
    background:#286785;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 0.9rem;
    margin-top: 80px;
    margin-top: -2%;
    margin-bottom: 0px;
}

.footer__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5rem;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: auto;
}

.footer__container h4{
    margin-bottom: 1.2rem;
    color: #78cdf5;
}

.footer__logo {
    text-decoration: none;
}
.footer__1 p{
    margin: 0 0 2rem;
    color: white;
}

.footer__2 ul li{
    color: white;
}
.footer__2 ul li a{
    margin-bottom: 0.7rem;
    color: white;
    text-decoration: none;
}

.footer__container p{
    color: white;
}

@media(max-width:730px){


    .para1 h1{
        color:#fff;
        font-size: 120%;
        margin-left: -100%;
        margin-top: 20%;
    }
   
    .head .wrapper h1{
        font-size: 150%;
    }

        /*--nav--*/

        header .navigation .navigation-items{
            display: grid;
            margin-left: 120%;
            line-height: 100%;
            gap: 0.8rem;
            
                }
             
                /*--logo--*/
                header .brand{   
            margin-left: -90%;
            margin-top: -160%;
            width: 10%;
                }
    .hatchery__container{
        display: inline-block;
        margin-left: -10%;
        margin-bottom: 250%;
      
    }
  

    .hatchery{
        width: 200%;
    }
  /*--foter--*/

.footer__1{
    font-size: 80%;
    margin-left: -50%;
    
    }

    .footer__2{
    font-size: 80%;
    margin-left: 100%;

    }

    .footer__3{
    font-size: 80%; 
    margin-left: -120%;
    margin-top: 320%;

    }
    
    .footer__4{
        margin-left: -230%;
        margin-top: 100%;
        max-width: 50%;
        
    }

}
@media(max-width:730px){
    .gallery h1{
        font-size: 1000px;
      
    }
}